/* Bouton de copie */
button {
    border-radius: 5px;
    padding: 5px;
    background-color: #222;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button > img {
    height: 15px;
    margin-right: 5px;
}


.response {
    height: 200px;
    width: 500px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid #555;
}

header {
    border-radius: 10px 10px 0 0;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;  
}

header > * {
    margin-left: 2px;
    margin-right: 2px;
}


/* ZONE DE SAISIE */

.zone-de-saisie {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saisie {
    resize: none;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    background-color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
}
